* {
    margin: 0 auto;
}
html, body {
    font-family: sans-serif;
    background-color: cornsilk;
}
.article {
    max-width: 680px;
    padding: 24px;
}
.article * {
    margin-bottom: 1rem;
}
.article__heading {
    color: palevioletred;
    margin-bottom: 1.5rem;
}
.article__lead {
    font-family: serif;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
}
.figure__image {
    font-style: italic;
    max-width: 100%;
    margin: 0;
}
.figure__caption {
    font-style: italic;
    text-align: center;
    margin-top: 8px;
}
